:root {
  --primary-color: #d6607d;
  --background-primary-color: #b8b8b62c;
}

a {
  text-decoration: none;
  color: #21c0a5;
}

a:hover {
  text-decoration: underline;
  color: #8879b0;
}

body {
  margin: 15px;
}

h1 {
  font-family: monospace;
  font-size: 50px;
}

h3 {
  color: var(--primary-color);
}

p {
  background-color: var(--background-primary-color);
}

.topics {
  display: flex;
  justify-content: center;
  }

  .topic {
    justify-content: center;
  padding: 10px;
  flex: 1;
  }
